.application{
    &__radio-btn{
        border: 1px solid rgba($color: #000000, $alpha: .2);
        border-radius: 4px;
        height: 40px;
    }
    &__select{
        font-size:0.7em;
        background-color: white;
        color: $color-blueGray ;

    }
}
.required__textfield{
    position: relative !important;
    &::before{
        content: url('../../assets/img/star.svg') !important;
        position: absolute !important;
        top:-10px !important;
        right: 8px !important;
    }
}
.required__textlabel{
    font-size: 0.6em;
    font-family: $font-nuni !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    color: $color-middleGray !important;
    position: relative !important;
    &::before{
        content: url('../../assets/img/star.svg') !important;
        position: absolute !important;
        top:-5px !important;
        right: -15px !important;
    }
}
.required__textselect{
    position: relative !important;
    &::before{
        content: url('../../assets/img/star.svg') !important;
        position: absolute !important;
        top:-2px !important;
        right: 8px !important;
    }
}

.swiper-container{
    padding: 5% 0 !important;
}
.swiper-slide{
    width: 100% !important;
    padding: 5px;
}
.swiper-pagination{
    top: -10px;
    bottom: 90% !important;
}
.swiper-pagination-bullet{
    background-color:rgb(124, 122, 122) !important;
    width: 15px !important;
    height: 15px !important;
    padding: 0;
    
}
.swiper-pagination-bullet-active {
    background-color:#B8B8BB !important;

}
