.user{
    &__wrapper--top{
        border-radius: 10px;
        padding: 15px 20px 15px 20px;
        border:0.5px solid #9F9F9F;
    }
    &__img{
        width: 130px;
        height: 130px;
        border-radius: 50%;
        position: relative;
      
    }
    &__ava  {
        border-radius: 50%;
        object-fit: cover;
        width: 130px;
        height: 130px;
}
    &__label{
        @include font($font-nuni, 0.75em, 600, 1.5);
        letter-spacing: 0.04em;
        color: $color-middleGray;
    }
    &__add-photo{
        position: absolute;
        bottom: 0;
        right: 5%;
        width: 40px;
        height: 40px;
    }
}