.vacancy{
    &__detail{
        border: 1px solid $color-darkGreen;
        border-radius: 10px;

    }
    &__logo{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        object-fit: cover;
        border: 1px solid $color-middleGray;
        margin-right: 30px;
    }
    &__nologo{
        width: 100%;
    }
    &__item {
        list-style-type: none;
        font-size: 14px;
        &::before {
          content: "";
          display: inline-block;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          top: 50%;
          left: 0;
          background-color: $color-darkGray;
          margin-right: 10px;

        }
      }
}


.cart{
    &__wrapper{
        padding: 20px;
        width: 100%;
        border-radius: 10px;
        margin-bottom: 20px;
        cursor: pointer;
        box-shadow: 0px 0px 5px 0px rgba($color:$color-black, $alpha: .4);

        &:last-child{
            margin-bottom: 0;
        }

        &:hover {
            box-shadow: 0px 0px 10px 0px rgba($color:$color-darkGreen, $alpha: 0.5);
        }
    }
    &__title{
        @include font($font-nuni, 1em, 800, 1.2);
        color: $color-orange;
        text-transform: capitalize;

    }
    &__fav{
        cursor: pointer;
        stroke: $color-orange;
    }
    &__fav--active{
        fill: $color-orange;
    }
 
}
.cart-border{
    border: 1px solid $color-darkGreen;
    box-shadow:none;


}