$theme-colors: (
    "info": $color-darkGreen,
    "danger": $color-red,
    "success":$color-lightGreen,  
    "primary":$color-white,
);
body{
    font-size: 25px;
    font-family: $font-nuni ;
    color:$color-darkGray;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    &:hover{
        text-decoration: none;
        color: $color-white;

    }
}
img{
    max-width: 100%;
}
li{
    list-style-type: none;
    word-break: break-all;
}
.bg-color--darkGreen{
    background-color: $color-darkGreen;
}
.bg-color--darkGray{
    background-color: $color-darkGray;
}
.text-capitalize{
    text-transform: capitalize;
}
.cursor-pointer{
    cursor: pointer;
}
.color-white{
    color: $color-white;
}
.color-lightGreen{
    color:$color-lightGreen;
}
.color-middleGray{
    color:$color-middleGray;
}
.color-text{
    color:$color-darkGray;
}
.color-blueGray{
    color:$color-blueGray;
}
.row{
    margin-right: 0;
    margin-left: 0;
}
.m-minus{
    margin: 0 -30px;
}
.myContainer{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}
.max-width{
    max-width: 100%;
}
.m-width{
    width: 100%;
}
.myBtn--white{
    padding: 3px 20px;
    outline: none;
    border: none;
    border-radius: 30px;
    background-color: $color-white;
    color: $color-darkGreen;
    @include font($font-nuni, 0.6em, 600, 1.5);
}
.myBtn--green{
    padding: 5px 60px;
    outline: none;
    border: none;
    border-radius: 30px;
    background-color: $color-lightGreen;
    color: $color-white;
    @include font($font-nuni, 0.6em, 600, 1.5);
}
.myBtn-shadow{
    box-shadow: 0px 0px 4px 1px #00000040;
}
.myText--small{
    @include font($font-nuni, 0.75em, 600, 1.5);
    letter-spacing: 0.04em;
}
.myText--xsmall{
    @include font($font-nuni, 0.6em, 400, 1.5);
    letter-spacing: 0.04em;
}
.myText--medium{
    @include font($font-nuni, 0.7em, 600, 1.5);
    letter-spacing: 0.04em;
}
.myText--xlarge{
    @include font($font-nuni, 1em, 800, 1.5);
    letter-spacing: 0.04em;
}
.myText--large{
    @include font($font-nuni, 0.9em, 600, 1.5);
    letter-spacing: 0.04em;
}
.myText--danger{
    color: $color-red;
    @include font($font-nuni, 0.7em, 400, 1.5);
}
.myText--bold{
    font-weight: 800;
}

.myBorder--secondary{
    border: 0.5px solid #9F9F9F;
    border-radius: 10px;
}

.myBorderRadius{
    border-radius: 10px;
}
.d-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.react-select .react-select__control{
    height: 40px;
    font-size: 1em;
    padding: 0 5px;
    border-radius: 10px;
    border: none;
}
.react-select__value-container{
    font-size:0.6em;
    height: 100%;
}
.react-select .react-select__indicators{
    height: 100%;
}
.react-select .react-select__menu{
    font-size: 0.6em;

}

.form-control:focus{
    border-color: $color-lightGreen;
    box-shadow: none;
}
.ReactTags__tags {
    position: relative;
    width: 100%;
  }
  
  /* Styles for the input */
  .ReactTags__tagInput {
    max-width: 100%;
    border-radius: 25px;
    display: block;
  }
  .ReactTags__tagInput input.ReactTags__tagInputField,
  .ReactTags__tagInput input.ReactTags__tagInputField:focus {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    background-clip: padding-box;
    border: 1px solid;
    color: $color-middleGray;
    background-color: $color-white;
    border-color: $color-middleGray;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin-bottom: 5px;
  }
  
  /* Styles for selected tags */
  .ReactTags__selected span.ReactTags__tag {
    border: 1px solid #ddd;
    background: #eee;
    font-size: 14px;
    display: inline-block;
    padding: 6px;
    margin: 5px 5px 5px 0;
    border-radius: 5px;
  }
  .ReactTags__selected a.ReactTags__remove {
    color: #aaa;
    margin-left: 5px;
    cursor: pointer;
  }
  
  /* Styles for suggestions */
  .ReactTags__suggestions {
    position: absolute;
  }
  .ReactTags__suggestions ul {
    list-style-type: none;
    box-shadow: 0.05em 0.01em 0.5em rgba(0, 0, 0, 0.2);
    background: $color-white;
    width: 200px;
  }
  .ReactTags__suggestions li {
    border-bottom: 1px solid #ddd;
    padding: 5px 10px;
    margin: 0;
  }
  .ReactTags__suggestions li mark {
    text-decoration: underline;
    background: none;
    font-weight: 600;
  }
  .ReactTags__suggestions ul li.ReactTags__activeSuggestion {
    background: #b7cfe0;
    cursor: pointer;
  }
  
  .ReactTags__remove {
    border: none;
    cursor: pointer;
    background: none;
  }

.MuiOutlinedInput-input {
    padding: 9.5px 10px !important;
}
.MuiInputLabel-outlined{
    transform: translate(14px,0) scale(1);
}
.Mui-checked{
    color:$color-darkGreen !important;
}
.myDropdownMenu{
    width: 17em !important;
}