@mixin font($family:"Nunito", $size:0.66em, $weight:400, $height:1.2, $style:normal){
    font-family: $family;
    font-size: $size;
    font-weight: $weight;
    line-height: $height;
    font-style: $style;
}

