$color-lightGreen:#3CAF48;
$color-darkGreen:#00754B;
$color-orange: #F3A683;
$color-darkGray:#5A5A67;
$color-middleGray:#ABAABD;
$color-blueGray: #4B6584;
$color-red:red;
$color-black:black;
$color-lightGray:#EFF0F0;
$color-white:white;
$color-cv-border:#ABAABD;



//Fonts
$font-nuni:"Nunito", sans-serif;