$color-lightGreen:#1EB92E;
$color-darkGreen:#00754B;
$color-dangerRed:red;
$color-black:black;
$color-darkGray:#5A5A67;
$color-lightGray:#d8dbe0;
$color-middleGray:#768192;
$color-white:white;
$color-cv-border:#ABAABD;
$color-cv-text:#5A5A67;

//Fonts
$font-nuni:"Nunito", sans-serif;